{% extends "main/header.html" %}

{% block content %}
    <div class="row">
        {% if not books %}
            <h5>can not find anything to show</h5>
        {% else %}
            {% for  book in books%}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ book.book_name }}</span>
                            <p style="font-size: 90%">Author : {{ book.author | safe }}</p>
                            <p style="font-size: 80%">Published : {{ book.published_date}}</p>
                            <p style="font-size: 90%">Count Left : {{ book.count }}</p>
                        </div>

                        <div class="card-action">
                            {% if  book.count >= 1 %}
                                <a href="{% url 'main:order' book.id %}">order</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}